{% extends 'layout.html' %}

{% block title %} python {% endblock %}
<!--<h1>{{ name }}</h1>-->
<!--{{ email }}-->
<!--{{l1.0}}-->
<!--<h1>{{d2}}</h1>-->
<!--<h3>{{d2.city}}</h3>-->

<!--{% for i in l1 %}-->
<!--{{i}}-->
<!--{% endfor %}-->

<!--{% for key in d2}-->

<!--{{key}}-->

<!--{{ endfor ||-->

<!--{% for key, value in d2.items %}-->

<!--{{key}}:{{value}}-->
<!--{% endfor %}-->

<!--{% if name == '' %}-->
<!--<h3>Empty..</h3>-->

<!--{% else %}-->
<!--<h3> Name::{{ name }}</h3>-->
<!--{% endif %}-->
<!--<h3>Hello Students</h3>-->
{% block content %}
<h3> hello fgdngdng </h3>

{% endblock %}
